.App {
  text-align: center;
}
.inputForm {
  width: 55%;
  margin: 10px 0px;
  height: 40px;
  padding: 10px 20px;
  border: 1px solid rgb(196, 189, 189);
  border-radius: 10px;
}
.todo-container{ 
  /* border: 1px solid rgb(154, 4, 4); */
  
}
.note-card {
  width: 100%;
  border: 1px solid rgb(223, 212, 212);
  border-radius: 5px; 
  margin: 0px;
}

.remove-btn{
  float: right;
  margin: -15px;
  border: none;
  font-size: 30px;
  background-color: transparent;
  font-family: monospace;
  color: black;
}
.color{ 
  padding: 0px;
  border: none;
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 600px) {
  .inputForm {
    width: 90%;
  }
}
@media only screen and (max-width: 425px) {
  .inputForm {
    width: 90%;
  }
}
